/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

button {
    cursor: pointer;
}

/* Navbar Styles */
.main-nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 105px;
}

.nav-btn {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid rgb(182, 177, 177);
    font-size: 18px;
    transition: all 0.3s;
}

.nav-btn:hover {
    background-color: rgb(182, 177, 177);
    color: white;
}

header {
    margin-bottom: 55px;
}


/* Banner Styles */
.banner-container {
    background-image: url('../images/hero_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    text-align: center;
}

.banner-container img {
    width: 220px;
}

.banner-container a {
    text-decoration: none;
}

.banner-title {
    font-size: 56px;
    margin-top: 15px;
}

.banner-description {
    width: 790px;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 20px;
    color: rgb(70, 68, 68);
}

.banner-btn {
    padding: 15px 20px;
    border-radius: 5px;
    background: rgb(13, 19, 33);
    color: white;
    font-size: 18px;
    margin-top: 15px;
    transition: all 0.3s;
}

.banner-btn:hover {
    background-color: #CF711F;
    color: white;
}


/* Web Development Styles */
.web-container {
    background: rgba(13, 19, 33, 0.02);
    width: 1090px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 50px 85px;
    margin-bottom: 45px;
}

.web-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.web-title {
    text-align: center;
}

.web-description {
    text-align: center;
    width: 750px;
    margin-top: 10px;
    line-height: 22px;
    color: rgb(70, 68, 68);
}

.web-card {
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    border-radius: 5px;
    padding: 25px 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 55px;
}

.web-card-2 {
    background: linear-gradient(300deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.card-title {
    color: rgba(13, 19, 33, 0.7);
    font-size: 18px;
    margin-bottom: 10px;
}

.card-left-side {
    width: 550px;
    margin-right: 400px;
}

.card-right-side img {
    width: 200px;
}

.web-card-2-left-side {
    margin-left: 55px;
    margin-right: 0 !important;
}

.card-description {
    margin-bottom: 15px;
    text-align: justify;
}

.card-btn {
    padding: 10px 15px;
    border: 2px solid rgb(158, 153, 153);
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
    color: #979899;
    transition: all 0.3s;
}

.card-btn:hover {
    background-color: #CF711F;
    border: 2px solid #CF711F;
    color: white;
}



/* Inspiration Styles */
.inspiration-container {
    width: 1090px;
    margin: 0 auto;
    margin-bottom: 45px;
}

.inspiration-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 25px;
    gap: 10px;
}

.inspiration-description {
    width: 700px;
    text-align: center;
}

.inspiration-video {
    border: 2px solid rgb(150, 148, 148);
    padding: 15px;
    margin: 0 auto;
    border-radius: 5px;
}

.inspiration-video iframe {
    width: 100%;
    border-radius: 10px;
}
